MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=auth_system
MYSQL_USER=auth_user
MYSQL_PASSWORD=auth_password

MONGO_URI=mongodb://mongo_user:mongo_password@mongo:27017/auth_system?authSource=admin

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

APP_ENV=development
APP_DEBUG=true

SESSION_SECRET=super_secret_session_regeneration_key_12345
